<div class="GSwitcherMainClass">
    <div *ngIf="isLoading$ | async"
         class="gswitcher-main-loading">
        <mat-spinner class="gswitcher-main-loading-spinner">
        </mat-spinner>
    </div>

    <div class="gswitcher-main-header">
        <div class="gswitcher-main-header-title">
            {{'MAIN.TITLE' | translate}}
        </div>
    </div>
    <div class="gswitcher-main-body">
        <div class="gswitcher-main-body-left">

            <mat-form-field appearance="fill"
                            class="gswitcher-main-body-item-field">
                <mat-label>{{'MAIN.FIELDS.DISPLAYS' | translate}}</mat-label>
                <mat-select [formControl]="displaysControl"
                            multiple>
                    <mat-option *ngFor="let item of displaysList"
                                [value]="item">{{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="gswitcher-main-body-item">
                <div class="gswitcher-main-body-item-label left">
                    {{'MAIN.FIELDS.PROCESS.ADD' | translate}}
                </div>
                <div class="gswitcher-main-body-item-field flex">
                    <mat-form-field class="search-processes"
                                    (click)="onClickProcessesInput()">
                        <input matInput
                               #processesListInput
                               [formControl]="searchApplicationControl"
                               [placeholder]="'MAIN.FIELDS.PROCESS.FROM_LIST' | translate"
                               [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete"
                                          (optionSelected)="setApplicationFromList($event)"
                                          (closed)="onClosedAutocomplete()">
                            <mat-option *ngIf="isLoadingProcesses$ | async"
                                        [style.justify-content]="'center'"
                                        [disabled]="true">
                                <mat-spinner></mat-spinner>
                            </mat-option>
                            <mat-option *ngFor="let item of filteredProcesses$ | async"
                                        [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <button mat-fab
                            color="accent"
                            [title]="'MAIN.FIELDS.PROCESS.FROM_FILE' | translate"
                            (click)="fileInput.click()">
                        <mat-icon>note_add</mat-icon>
                        <input hidden
                               type="file"
                               id="file"
                               accept=".exe"
                               #fileInput
                               (change)="setApplicationFromFile($event)">
                    </button>
                </div>
            </div>

            <mat-chip-listbox class="gswitcher-main-body-left-applications"
                              [formControl]="$any(form.controls.appName)">
                <mat-chip-option *ngFor="let item of applications$ | async"
                                 color="accent"
                                 [selected]="item === form.controls.appName.value"
                                 [value]="item"
                                 (removed)="removeApplication(item)">
                    {{item}}
                    <button matChipRemove
                            [attr.aria-label]="'remove ' + item">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-option>
            </mat-chip-listbox>
        </div>

        <mat-divider [vertical]="true"
                     class="gswitcher-main-body-divider">
        </mat-divider>

        <div class="gswitcher-main-body-right">
            <div class="gswitcher-main-body-item">
                <div class="gswitcher-main-body-item-label slider">
                    {{'MAIN.FIELDS.BRIGHTNESS' | translate}}
                </div>
                <mat-slider class="gswitcher-main-body-item-field slider"
                            color="primary"
                            min="0"
                            max="1"
                            step="0.01"
                            discrete
                            [disabled]="!form.controls.appName.value">
                    <input matSliderThumb
                           [formControl]="$any(form.controls.brightness)">
                </mat-slider>
            </div>

            <div class="gswitcher-main-body-item">
                <div class="gswitcher-main-body-item-label slider">
                    {{'MAIN.FIELDS.CONTRAST' | translate}}
                </div>
                <mat-slider class="gswitcher-main-body-item-field slider"
                            color="primary"
                            min="0"
                            max="1"
                            step="0.01"
                            discrete
                            [disabled]="!form.controls.appName.value">
                    <input matSliderThumb
                           [formControl]="$any(form.controls.contrast)">
                </mat-slider>
            </div>

            <div class="gswitcher-main-body-item">
                <div class="gswitcher-main-body-item-label slider">
                    {{'MAIN.FIELDS.GAMMA' | translate}}
                </div>
                <mat-slider class="gswitcher-main-body-item-field slider"
                            color="primary"
                            min="0.4"
                            max="2.8"
                            step="0.01"
                            discrete
                            [disabled]="!form.controls.appName.value">
                    <input matSliderThumb
                           [formControl]="$any(form.controls.gamma)">
                </mat-slider>
            </div>
        </div>
    </div>

    <mat-progress-bar [value]="saveProgressBarValue$ | async">
    </mat-progress-bar>
</div>