@use "../node_modules/@angular/material" as mat;
@import "../node_modules/@angular/material/_theming";
@include mat.core();

$angular-primary: mat.define-palette(mat.$cyan-palette);
$angular-accent: mat.define-palette(mat.$teal-palette);
$angular-warn: mat.define-palette(mat.$orange-palette);
$angular-default-theme: mat.define-light-theme($angular-primary, $angular-accent, $angular-warn);
@include mat.all-component-themes($angular-default-theme);

$angular-dark-theme: mat.define-dark-theme($angular-primary, $angular-accent, $angular-warn);

@media (prefers-color-scheme: dark) {
    html,
    body {
        background-color: black !important;
    }
    @include mat.all-component-colors($angular-dark-theme);
}

@font-face {
    font-family: "Lato";
    src: local("Lato"), url("./assets//fonts/Lato/Lato-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: local("Lato"), url("./assets//fonts/Lato/Lato-Bold.ttf");
    font-weight: 700;
    font-style: bold;
}
@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: local("Material Icons"), local("MaterialIcons-Regular"),
        url("assets/fonts//icons/MaterialIcons-Regular.ttf") format("truetype");
}

* {
    font-family: "Lato", "Arial";
    font-style: normal;
    font-weight: 400;
}

div,
span,
body {
    box-sizing: border-box;
}

* {
    $color-config: mat.get-color-config($angular-default-theme);
    $primary-palette: map-get($color-config, "primary");
    $scroll: mat.get-color-from-palette($primary-palette, 700);
    $scroll-active: mat.get-color-from-palette($primary-palette, 500);

    &::-webkit-scrollbar {
        width: 8px !important;
    }
    &::-webkit-scrollbar-thumb {
        background: $scroll !important;
        border-radius: 4px !important;
        cursor: pointer !important;
        &:hover {
            background: $scroll-active !important;
        }
    }
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: white;
}
body {
    margin: 0;
    overflow: hidden;
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
}
